<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" /> 
    <script src="https://cdn.tailwindcss.com"></script> 
</head>
<body>
   <%- include('header') -%>
   <head>
    <link rel="stylesheet" href="./css/style.css">
   </head>
     <div class="box" id="heading">
        <h1><%=title%></h1>
     </div>
     
     <div class="box">
            <% newListItem.forEach((todo) => {%>
                <div class="item">
                    <input type="checkbox" name="checkbox" id="">
                    <p><%=todo%></p>
                </div>
            <%})%>

            <form  action="/" method="POST" class="item">
                <input type="text"  name="todo" placeholder="New Item" autocomplete="off">
                <button type="submit" value="<%=title%>" name="list">+</button>
            </form>
     </div>

</body>
</html>